@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Medium'), local('DINPro-Medium'),
        url('../../fonts/dinpro-medium.eot') format('eot'),
        url('../../fonts/dinpro-medium.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/dinpro-medium.woff') format('woff'),
        url('../../fonts/dinpro-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Bold'), local('DINPro-Bold'),
        url('../../fonts/dinpro-bold.eot') format('eot'),
        url('../../fonts/dinpro-bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/dinpro-bold.woff') format('woff'),
        url('../../fonts/dinpro-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro Light'), local('DINPro-Light'),
        url('../../fonts/dinpro-light.eot') format('eot'),
        url('../../fonts/dinpro-light.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/dinpro-light.woff') format('woff'),
        url('../../fonts/dinpro-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'DIN Pro';
    src: local('DIN Pro'), local('DINPro'),
        url('../../fonts/dinpro.eot') format('eot'),
        url('../../fonts/dinpro.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/dinpro.woff') format('woff'),
        url('../../fonts/dinpro.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
