@mixin font ($fz, $fw, $lh) {
    font-size: $fz;
    font-weight: $fw;
    line-height: $lh;
}

@mixin wh ($w, $h) {
    width: $w;
    height: $h;
}

%flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flexColumn {
    display: flex;
    flex-direction: column;
}

.wrapper {
    @include wh(100%, 100%);
    font-family: 'DIN Pro', sans-serif;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: 1720px;
}
