.navigation {
    @extend %flexColumn;
    @include wh(180px, 100%);
    margin-right: 40px;

    &__logo-container {
        @extend %flexColumn;
        align-items: center;
        border-bottom: 1px solid $gray;
        padding: 30px;
    }

    &__company-name {
        @include font(30px, 300, 30px);
        color: $black;
        padding-top: 10px;
    }

    &__list-item {
        margin: 30px 0;
    }

    &__list-link {
        @include font(24px, 400, 30px);
        color: $black;
    }

    &__list-icon {
        padding: 0 16px;
    }

    &__list-link:hover {
        color: $light-orange;
    }
}

@media (max-width: 390px) {
    .navigation {
        display: none;
    }
}
