$light-orange: #FF9846;
$orange: #F46D40;
$dark-orange: #EB5757;
$light-gray: #F2F2F2;
$gray: #A4ACAD;
$black: #000000;
$light-black: #111111;
$white: #FFFFFF;


$small: 11px;
$s: 14px;
$l: 18px;
$xl: 24px;



